{% extends "mainApp/wrapper.html" %}

{% block content %}
<p>Санкт-Петербург, город-сказка, город-мечта для неискушенных туристов и просто глубоких ценителей культуры и искусства. Да что там говорить, каждый из нас просто обязан побывать в этом городе хоть раз, иначе он не жил вовсе! Иностранцы с восхищением произносят заветное "Saint-Petersberg", а местные жители с теплотой говорят "Питер". Но,как его ни назови, истина одна: город прекрасен для глаза, красив настолько, насколько может быть красив русский город, "Петра творенье" со зданиями в стиле барокко, построенными лучшими архитекторами, сохраненными и беспрестанно реставрирующимися еще с незапамятных времен. Пожалуй, это единственный такой город в России и сравним, может быть с такими выдающимися городами-памятниками истории, как Прага, Париж, Лондон...</p>
{% endblock %}
